# Firebase Configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=reflex-779d1.firebaseapp.com
FIREBASE_DATABASE_URL=https://reflex-779d1-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=reflex-779d1
FIREBASE_STORAGE_BUCKET=reflex-779d1.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=863266679437
FIREBASE_APP_ID=1:863266679437:web:48ae4e8889632a7391d0c4
FIREBASE_MEASUREMENT_ID=G-QRW0KBDJR6
